*{
   box-sizing: border-box;
}
#app-container{
   width: 100%;
   background-image: radial-gradient(#191654, #43C6AC);
   position: absolute;
}

/*  Navbar  */
.navbar-container{
   background-color: #43C6AC;
   height: 75px;
   font-size: 15px;
   color: #191654;
}
.navbar-container button{
   display: inline;
   vertical-align: top;
   float: right;
   background-color: #191654;
   color: #43C6AC;
   border: 1px solid white;
   margin-top: 25PX;
   margin-right: 30px;
}
.navbar-container span{
   padding-left: 5px;
}
.navbar-container h4{
   float: left;
   margin-left: 20px;
   margin-top: 25px;
}
.tree-container{
   background-image: url("../images/trees2.jpg");
   background-size: cover;
   font-family: helvetica;
   height: 375px;
}
.tree-container h2{
   color: #dbedd7;
   text-align: center;
   padding-top: 35px;
   font-size: 50px;
}
.tree-container h3{
   color: #dbedd7;
   text-align: center;
   font-style: italic;
   margin-left: 30px;
   margin-right: 30px;
   padding-top: 90px;
   font-size: 55px;
}
img{
   height: 450px;
   width: 475px;
   padding-left: 15px;
   padding-right: 15px;
   margin-bottom: 15px;
   border-radius: 50px;
}
h5{
   text-align: center;
   margin-bottom: 25px;
   font-size: 35px;
   text-decoration: underline;
   color: #dbedd7;
}
.data-container button{
   width: 25%;
   margin-top: 12px;
   margin-left: 20px;
   margin-bottom: 14px;
   background: #dbedd7;
   border: 1px solid orange;
   color: orange;
}
/* Left left-container */
.data-container{
   background-image: radial-gradient(#191654, #43C6AC);
   height: 1800px;
   background-color: #cccccc;
   text-align: center;
}
.left-container{
   width: 50%;
   float: left;
   color: #dbedd7;
}
.beauty-column{
   width: 75%;
   margin: 75px;
}
.passion-column{
   width: 75%;
   margin: 75px;
}
/* Right Container */
.right-container{
   width: 50%;
   float: right;
   color: #dbedd7;
}

.love-column{
   width: 75%;
   margin: 75px;
}
.energy-column{
   width: 75%;
   margin: 75px;
}
/* }] */
/*bottom-container  */
.middle-container{
   background-image: url("../images/twoPaths.jpg");
   background-size: cover;
   height: 650px;
   display: block;
   vertical-align: top;
   font-size: 0;
   width: 100%;
   border: 8px solid #7B68EE;
}
.plate-container{
   display: inline-block;
   width: 25%;
   color: #EC5800;
   font-size: 35px;
   padding-left: 35px;
   margin-top: 10px;
}
.strength-column{
   font-family: serif;
}
.comes-column{
   font-family: fantasy;
}
.from-column{
   font-family: serif;
}
.within-column{
   font-family: cursive;
}
.footer-container{
   display: block;
   vertical-align: top;
   font-size: 0;
   width: 100%;
}
.contact-container{
   width: 100%;
}
.media-column{
   display: inline-block;
   width: 70%;
   font-size: 50px;
   padding-left: 25px;
}
.corr-column{
   display: inline-block;
   width: 30%;
   font-size: medium;
   margin-top: 10px;
   padding-left: 175px;
   font-style: italic;
}
.footer-container a{
   color: #8053ad;
}
/* Footer  */
#fixed{
   color: #ecffff;
   position: fixed;
   display: inline;
   top: 325px;
   left: 20px;
   background: #cbda;
   height: 28px;
   width: 175px;
   padding-top: 6px;
}
#fixed h2{
   font-size: 12px;
   font-family: sans-serif;
   padding-left: 8px;
}
#fixed i{
   padding-left: 10px;
   font-size: 16px;
}
